{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/componente_navbar.css' %}">
</head>
<body>
    <div class="contenedor_navbar">
        <div class="items_navbar">
            <a href="/" >
                <div class="item_individual_navbar">Productos</div>
            </a>
            <a href="/clientes" >
                <div class="item_individual_navbar">Clientes</div>
            </a>
            <a href="/ventas" >
                <div class="item_individual_navbar">Ventas</div>
            </a>
        </div>
    </div>
</body>
</html>

